@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

body {
  margin: 0;
  padding: 20px;
  background-color: antiquewhite;
}

.moul-regular {
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
